<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "cl.ejedigital.mobile"
    versionCode="10" 
    version   = "1.0.0">
	<name>Facility Mobile</name>
	<description>Apps ERP for RRHH</description>
	<author href="http://www.ejedigital.cl" email="jcastro@ejedigital">Soporte Ejedigital</author>
	<preference name="phonegap-version" value="1.5.0" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
</widget>